.element__like-button-active {
    background-image: url(../../../images/like-button-active.svg);
    background-size: cover;
    width: 22px;
    height: 19px;
    margin-left: auto;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    }
    
.element__like-button-active:hover {
    opacity: 0.6;
}