.popup__content {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 430px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    vertical-align: middle;
}